html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

main {
  width: min(100vw - 32px, 100vh * (4/3));
  height: min(100vh - 32px, 90vw * (3/4));
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
